.idea-tag {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  color: #000000;
  display: inline-block;
  font-size: var(--font-size-small);
  height: var(--sizing-small);
  line-height: var(--sizing-xsmall);
  margin: 0 var(--spacing-tiny) var(--spacing-tiny) 0;
  padding: 0 var(--spacing-small);
}
