<div class="login" [formGroup]="loginForm">
  <img
    class="login__logo"
    src="/assets/logo/ccal-logo.svg"
    height="55"
    width="54"
  />
  <h1 class="login__title">Welcome</h1>
  <p class="login__tip"><b>Tip:</b> Any email and password will work 😎.</p>
  <div class="login__input input input--expanded">
    <input formControlName="email" type="text" placeholder="Email" />
  </div>
  <div class="login__input input input--expanded">
    <input formControlName="password" type="password" placeholder="Password" />
  </div>
  <button
    class="button button--solid button--primary button--expanded button--fluid"
    (click)="login()"
  >
    Login
  </button>
</div>
