<div class="form" [formGroup]="ideaForm">
  <div class="form__row">
    <div class="form__element">
      <label class="form__label" for="card-number">Name</label>
      <div class="input input--expanded">
        <input
          type="text"
          placeholder="My awesome idea"
          name="name"
          formControlName="name"
        />
      </div>
    </div>
  </div>
  <div class="form__row">
    <div class="form__element">
      <label class="form__label" for="card-number">Description</label>
      <div class="textarea">
        <textarea
          placeholder="Idea description"
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="form__row">
    <div class="form__element">
      <label class="form__label" for="card-number">Tags</label>
      <ul class="idea-tags-list">
        <li *ngFor="let ideaTag of ideaTagFromControls">
          <label>
            <input
              type="checkbox"
              [checked]="ideaTag.checked"
              (change)="ideaTag.checked = $event.target.checked; onTagChange()"
            />
            <ccal-idea-tag [ideaTag]="ideaTag"></ccal-idea-tag>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="form__actions">
    <div class="form__actions-group">
      <button
        *ngIf="idea"
        class="button button--expanded button--danger"
        (click)="onDeleteClick()"
      >
        Delete
      </button>
    </div>
    <div class="form__actions-group">
      <button class="button button--expanded" (click)="onCancelClick()">
        Cancel
      </button>
      <button
        class="button button--expanded button--primary button--solid"
        [disabled]="!ideaForm.valid"
        (click)="onSaveClick()"
      >
        Save idea
      </button>
    </div>
  </div>
</div>
