.idea-tags-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    margin-right: var(--spacing-medium);
  }
  label {
    align-items: center;
    display: flex;
  }
  input {
    margin-bottom: var(--spacing-tiny);
    margin-right: var(--spacing-small);
  }
}
