// Color variant
@mixin cc-button-color($bgColor, $fontColor) {
  color: $bgColor;

  &.button--solid {
    background-color: $bgColor;
    border-color: rgba(187, 187, 187, 0.2);
    color: $fontColor;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    text-decoration: none;

    &.hover:not([disabled]),
    &:hover:not([disabled]) {
      box-shadow: inset 0 0 0 100vw rgba(255, 255, 255, 0.15);
    }

    &.active:not([disabled]),
    &:active:not([disabled]) {
      box-shadow: inset 0 0 0 100vw rgba(255, 255, 255, 0.3);
    }
  }
}

// Default
.button {
  align-items: center;
  background-color: var(--components-bg-color);
  border: var(--border);
  border-radius: var(--radius);
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  font-family: var(--font-family-default);
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: 500;
  height: var(--sizing-medium);
  justify-content: center;
  line-height: var(--line-height-dense);
  margin: 0 var(--spacing-small) 0 0;
  min-width: var(--sizing-medium);
  outline: none;
  padding: 0 var(--spacing-small);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  transition: all 0.15s ease-in-out;
  user-select: none;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;

  // Hover
  &.hover:not([disabled]),
  &:hover:not([disabled]) {
    background-color: var(--button-hover-bg-color);
  }

  // Focus
  &.focus:not([disabled]),
  &:focus:not([disabled]) {
    z-index: 1;
  }

  // Active
  &.active:not([disabled]),
  &:active:not([disabled]) {
    background-color: var(--button-active-bg-color);
  }

  // Disabled
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.55;
  }

  &:last-child {
    margin-right: 0;
  }
}

// Fluid
.button.button--fluid {
  display: flex;
  width: 100%;
}

// Expanded
.button.button--expanded {
  height: var(--sizing-large);
  min-width: var(--sizing-large);
  padding-left: 2rem;
  padding-right: 2rem;
}

// Sizes
.button.button--tiny {
  font-size: var(--font-size-tiny);
  height: var(--sizing-tiny);
  min-width: var(--sizing-tiny);
}
.button.button--xsmall {
  font-size: var(--font-size-xsmall);
  height: var(--sizing-xsmall);
  min-width: var(--sizing-xsmall);
}
.button.button--small {
  font-size: var(--font-size-small);
  height: var(--sizing-small);
  min-width: var(--sizing-small);
}
.button.button--large {
  font-size: var(--font-size-large);
  height: var(--sizing-large);
  min-width: var(--sizing-large);
}

// Colors
.button.button--primary {
  @include cc-button-color(var(--aqua), #ffffff);
}
.button.button--danger {
  @include cc-button-color(var(--ruby), #ffffff);
}
