.input {
  color: var(--text-color);
  display: block;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-family-default);
  line-height: var(--line-height);
  margin: 0;
  max-width: 100%;
  position: relative;
  text-align: left;
  width: 100%;

  > input {
    background-color: var(--components-bg-color);
    border: var(--border);
    border-radius: var(--radius);
    box-sizing: border-box;
    box-shadow: none;
    color: inherit;
    display: block;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    height: var(--sizing-medium);
    line-height: 30px;
    padding: 0 var(--spacing-small);
    transition: all 0.15s ease-in-out;
    width: 100%;
    -webkit-appearance: none;

    &::placeholder {
      color: var(--text-lighter-color) !important;
      display: block;
    }

    &:hover {
      border-color: var(--border-dark-color);
    }

    &:focus {
      background-color: var(--components-bg-color);
      border-color: var(--aqua);
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.55;
    }
    &[readonly] {
      background-color: var(--shade-1);
      color: var(--shade-5);

      &::placeholder {
        color: var(--shade-5) !important;
      }
    }
  }
}

// Expanded
.input--expanded {
  > input {
    height: var(--sizing-large);
  }
}

// Invalid
.input--invalid {
  > input {
    border-color: var(--ruby);
  }
}

// Inline
.input--inline {
  display: inline-block;
  margin-right: var(--spacing-small);
  width: auto;

  &:last-child {
    margin-right: 0;
  }
}
