.textarea {
  color: var(--text-color);
  display: block;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: 500;
  font-family: var(--font-family-default);
  line-height: var(--line-height);
  margin: 0;
  max-width: 100%;
  position: relative;
  text-align: left;
  width: 100%;

  > textarea {
    background-color: var(--components-bg-color);
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: none;
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    height: var(--sizing-medium);
    line-height: inherit;
    min-height: 5.5rem; // 88px, 4 lines
    padding: 0.4375rem var(--spacing-small); // 7px 8px
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    -webkit-appearance: none;

    &::placeholder {
      color: var(--text-lighter-color) !important;
      display: block;
    }

    &:hover {
      border-color: var(--border-dark-color);
    }

    &:focus {
      background-color: var(--components-bg-color);
      border-color: var(--aqua);
    }

    &[disabled] {
      opacity: 0.55;
    }
  }
}

// Invalid
.textarea.textarea--invalid {
  > textarea {
    border-color: var(--ruby);
  }
}
