:root {
    // LAYOUT
    // General
    --global-width:                                75rem; // 1200px
    
    // TYPOGRAPHY AND COMMON
    // Typography
    --font-family-default:                         -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-family-headers: Inter,                  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-family-article-header:                  Merriweather, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-family-monospace:                       'Consolas', 'Liberation Mono', 'Courier', monospace;
    --line-height:                                 1.5;
    --line-height-dense:                           1.2;
  
    // Text sizing
    --font-size-tiny:                              0.625rem;   // 10px
    --font-size-xsmall:                            0.75rem;    // 12px
    --font-size-small:                             0.8125rem;  // 13px
    --font-size-medium:                            0.875rem;   // 14px
    --font-size-large:                             1rem;       // 16px
    --font-size-xlarge:                            1.125rem;   // 18px
    --font-size-xxlarge:                           1.5rem;     // 24px
    --font-size-huge:                              2.25rem;    // 36px
  
    // Border radius
    --radius:                                      0.1875rem;  // 3px
    --radius-large:                                0.375rem;   // 6px
  
    // Transitions
    --duration:                                    0.125s;
    --easing:                                      ease;
  
    // SIZING AND SPACING
    // Sizing 
    --sizing-tiny:                                 1rem;       // 16px
    --sizing-xsmall:                               1.25rem;    // 20px
    --sizing-small:                                1.5rem;     // 24px
    --sizing-medium:                               2rem;       // 32px
    --sizing-large:                                3rem;       // 48px
    --sizing-huge:                                 6rem;       // 96px
  
    // Spacing - Shortcuts
    --spacing-tiny:                                0.25rem;    // 4px
    --spacing-small:                               0.5rem;     // 8px
    --spacing-medium:                              1rem;       // 16px
    --spacing-large:                               2rem;       // 32px
    --spacing-huge:                                3rem;       // 48px
    --negative-spacing-tiny:                       -0.25rem;   // -4px
    --negative-spacing-small:                      -0.5rem;    // -8px
    --negative-spacing-medium:                     -1rem;      // -16px
    --negative-spacing-large:                      -2rem;      // -32px
    --negative-spacing-huge:                       -3rem;      // -48px
  
    // COLORS
    // Shades base
    --shade-base:                                  #000000;
    --shade-base-inverted:                         #ffffff;
  
    // Shades scale
    --shade-0:                                     #ffffff;
    --shade-1:                                     #f5f5f5;
    --shade-2:                                     #d9d9d9;
    --shade-3:                                     #bababa;
    --shade-4:                                     #979797; 
    --shade-5:                                     #535353;
    --shade-6:                                     #0c0c0c;
  
    // Main colors
    --forest:                                      #239f28;
    --aqua:                                        #186eef;
    --ruby:                                        #c93939;
    --sunshine:                                    #ffdd00;
  
    // Pales colors
    --pale-forest:                                 #e9f5ea;
    --pale-aqua:                                   #e8f0fd;
    --pale-ruby:                                   #f6e8e8;
  
    // Deep colors
    --deep-forest:                                 #17671A;
    --deep-aqua:                                   #10479B;
    --deep-ruby:                                   #832525;
    --pale-sunshine:                               #fffbe6;
    --deep-sunshine:                               #CCB000;
    
    // Common
    --bg-color:                                    #f5f5f5;
    --components-bg-color:                         #ffffff;
    --border-color:                                #d9d9d9;
    --border-dark-color:                           #bababa;
    --border:                                      1px solid var(--border-color);
    --text-color:                                  #0d0d0d;
    --text-lighter-color:                          #535353;
    --highlight-color:                             #e9f3fc;
  
  }
  