.listing {
  display: grid;
  gap: var(--spacing-medium);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  &__item {
    background-color: var(--components-bg-color);
    border: var(--border);
    border-radius: var(--radius);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: var(--spacing-medium);
    transition: all 250 ease-in;

    &:hover {
      border-color: var(--border-dark-color);
    }
  }
  &__item-desc {
    margin-bottom: var(--spacing-small);
    flex-grow: 1;
  }
}
