<header class="header">
  <div class="header__content">
    <div class="header__section">
      <img src="/assets/logo/ccal-master.svg" height="30" />
    </div>
    <div class="header__section">
      <div class="header__theme">
        🌞
        <label class="header__dark-mode-toggle toggle">
          <input
            class="toggle__checkbox"
            type="checkbox"
            [checked]="useDarkMode$ | async"
            (change)="changeDarkMode($event.target.checked)"
          />
          <div class="toggle__switch"></div>
        </label>
        🌚
      </div>
      <div *ngIf="isAuthenticated$ | async; else loggedOut">
        <a [routerLink]="['/auth', 'logout']">Logout</a>
      </div>
      <ng-template #loggedOut>
        <a [routerLink]="['/auth', 'login']">Login</a>
      </ng-template>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
